.HomeGameContent
{
	width: 130px;
	height: 130px;
	background-color: var(--bgContainer);
	margin: 20px;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 30px;
}

.GameTitle
{
	color: var(--title);
	margin: 0;
	font-size: x-large;
	text-align: center;
	height: 120px;
}

.GameStats
{
	margin: 0;
}
.ContentsBase
{
	width: 97%;
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}