.Header
{
	background-color: var(--bgHeader);
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 25px;
	padding: 0px 20px 0px 20px;
}

.HeaderContainerRight
{
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.HeaderContainerLeft
{
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.Button
{
	background-color: blue;
	width: 50px;
	height: 50px;
	margin: 0px 20px 0px 20px;
}

.Currency
{
	background-color: var(--bgHeaderContainer);
	width: 100px;
	text-align: end;
	padding-right: 10px;
	border-radius: 25px;

}

.MissionBase
{
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
}

.MissionContainer
{
	text-align: left;
	width: 310px;
}

.MissionGameList li:nth-child(odd)
{
  background-color: #444444;
}

.MissionGameList
{
  	list-style-type: none;
	list-style-position: inside;
	width: auto;
}

.MissionGameListItem
{
	margin: 10px 0px;
	font-size: x-large;
}