.RowGrid
{
    display: flex;
    flex-direction: row;
	-webkit-user-drag: none;
	user-select: none;
}

.Cell
{
	border: 2px solid black;
}

.Clues
{
	background: gray;
	width: 50;
	height: 50
}

.ColumnClues
{
	display: flex;
  	justify-content: space-between;
	background: blue;
	
}

.RowClues
{
	display: flex;
  	justify-content: space-around;
  	flex-direction: column;
	background: blue;
	
}