.GameDificultyTabContainer
{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 20px
}

.GameDificultyTab
{
	height: 60px;
	background-color: bisque;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	width:100%;
	border: 0;
}

.GameLevelContainer
{
	background-color: red;
	height: 200px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

.GameLevel
{
	background-color: blue;
	height: 50px;
	width: 50px;
	border-radius: 15px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: larger;
}